<a href="/homepage" class="is-pulled-right">Return to Home</a>

<p>Post ID: {{post.id}}</p>
<h3>{{post.title}}</h3>
<p>{{post.description}}</p>
<p>Username: {{post.User.username}}</p>

{{#if loggedIn}}
<form action="" class="comment-form">
    <div>
        <input type="hidden" name="postId" value="{{post.id}}" />
        <textarea class="ml-3" name="commentBody"></textarea>
    </div>
    <div>
        <button class="button is-warning ml-10 mb-12" type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

<div class="comments">
    {{#each post.Comments}}
    <div class="comment">
        <p>Username: {{User.username}}</p>
        <p>{{content}}</p>
        <p>Date: {{createdAt}}</p>
    </div>
    {{/each}}
</div>

{{#if loggedIn}}
<script src="./js/comment.js"></script>
{{/if}}